services:
  pixelapp:
    build: ./app
    restart: unless-stopped
    ports:
      - "${PORT:-1337}:1337"
    environment:
      PIXELIZER_HOST: "pixelizer"
      PIXELIZER_PORT: "8080"
    volumes:
      - uploaded:/home/user/app/uploaded
      - media:/home/user/app/media
    depends_on:
      - pixelizer
    cpus: 2.0
    mem_limit: 1024M
    pids_limit: 256


  pixelizer:
    build: ./pixelizer
    restart: unless-stopped
    expose:
      - "8080"
    cpus: 2.0
    mem_limit: 1024M
    pids_limit: 256
    
volumes:
  uploaded:
  media: